extends layout
block content
    div.text-center
        form(class="form-signin" method="POST" action="/auth")
            #error
                if error
                    p.text-danger Error!!!
            - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
            h1(class=h1Classes) Please sign in
            //-input email
            label( for="inputUsername" class="sr-only") Username
            input(type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus)
            //-input password
            label(for="inputPassword" class="sr-only") Password
            input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required)

            input(type="hidden" name="state" id="state" value=state)
            input(type="hidden" name="url" id="url" value=url)
            //-signIn button
            - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
            button(class=buttonClass type="submit") Sign in
            - var pClasses=['mt-5', 'mb-3', 'text-muted'];
            p(class=pClasses)